#Any vs stuff
.vs/

#node stuff
node_modules/

#ts output
App/**/*.js
wwwroot/App/**/*.js
App/**/*.js.map
wwwroot/App/**/*.js.map

#npm stuff
npm-debug.log

#karma coverage
coverage/

#webpack stuff
dist/bundle/bundle.js
