# Node modules
node_modules/

# Typescript Output
Server/*.js.map
Server/*.js

/.vs/Solution/.vs/Solution/v15
/bin
/obj/Debug
/.vs/Solution/.vs/AngularTS/v15
/npm-debug.log
/.vs/Solution/.vs/Solution/v14
/.vs/Solution/.vs/config/applicationhost.config
/.ntvs_analysis.dat
