# Node modules
node_modules/

# Typescript Output
/Server/
/Server/Model
/Server/View

# Node stuff
/npm-debug.log

# Visual Studio stuff
/.vs/Solution/.vs/Solution/v15
/bin
/obj/Debug
/.vs/Solution/.vs/AngularTS/v15
/.vs/Solution/.vs/Solution/v14
/.vs/Solution/.vs/config/applicationhost.config
/.ntvs_analysis.dat

