<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Angular JS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="Lib/bootstrap.css" rel="stylesheet">
        <script src="Lib/angular.js"></script>
        <script src="Lib/system.js"></script>
        <script src="Lib/system.config.js"></script>
        <script>
            System.import('View/app.js').then(function () {
                angular.bootstrap(document, ['myApp']);
            });
        </script>
    </head>
    <body ng-controller="MainController">
        <div class="container">
           <h1>{{message}} - seconds elapsed : {{seconds}}</h1>           
        </div>
        <div class="container">
            <button type="button" class="btn btn-info" ng-click="TroggleInfo()">{{infoMessage}}</button>
            <ul ng-show="infoAvailable">
                <li ng-repeat="item in listItems" >{{item}}</li>
            </ul>            
        </div>
        <div class="container">
            <div class="container" ng-include="'View/users_form.htm'"></div>
            <div class="container" ng-include="'View/users_grid.htm'"></div>
        </div>
    </body>
</html>