<table class="table table-bordered">
    <thead>
        <tr>
            <td>Given Name</td>
            <td>Familly Name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in people | orderBy:sortOrder">
            <td>{{person.givenName}}</td>
            <td>{{person.famillyName}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteContact(person.id)">x</button></td>
        </tr>
    </tbody>
</table>                         
