<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Given Name</td>
                <td>Familly Name</td>
                <td>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="sortSelection">Order:</label>
                        <div class="col-sm-10">
                            <select ng-model="$ctrl.sortOrder">
                                <option value="+famillyName">Familly Name Ascendant</option>
                                <option value="-famillyName">Familly Name Descendant</option>
                                <option value="+givenName">Given Name Ascendant</option>
                                <option value="-givenName">Given Name Descendant</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in $ctrl.people | orderBy:$ctrl.sortOrder">
                <td>{{person.givenName}}</td>
                <td>{{person.famillyName}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="$ctrl.deleteContact(person.id)">x</button></td>
            </tr>
        </tbody>
    </table>
</div>
