<div>
    <toolbar on-add-device="mainPageController.addDevice()"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 app-printer-panel no-float">
            <device-panel
                devices="mainPageController.devices"
                selected-device-id="mainPageController.selectedDeviceId"
                on-delete-device="mainPageController.deleteDevice(deviceId)"
                on-selected-device="mainPageController.selectDevice(deviceId)" />
        </div>
        <div class="col-md-9 no-float">
            <page-grid 
                capabilities="mainPageController.capabilites"
                pages="mainPageController.pages"
                selected-pages="mainPageController.selectedPages"
                selected-device-id="mainPageController.selectedDeviceId"
                on-add-page="mainPageController.addPage()"
                on-delete-page="mainPageController.deletePage(pageId)"
                on-update-pages="mainPageController.updatePageField(field,newValue)"
                on-selected-page="mainPageController.selectPage(pageId,multiselection)" />           
        </div>
    </div>
</div>