<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                <strong>DEVICES</strong>
            </td>  
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="device in $ctrl.devices">
            <td ng-class="device.class" ng-click="$ctrl.selectDevice(device.id)">
                <span><button type="button" class="btn btn-danger" ng-click="$ctrl.deleteDevice(device.id)">x</button> {{device.name}}</span>              
            </td>
        </tr>
    </tbody>
</table>
