.item-selected {
    background-color:cyan;
}

html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

header {
    background: black;
    height: 55px;
    padding: 10px;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
    display: table-cell;
    float: none;
}

.app-printer-panel {
    background: ghostwhite;
}

.toolbar-button-right {
    margin-left: 868px;
}

.close-dialog {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.close-dialog .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-dialog .footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close-dialog .footer button {
    margin-right: 5px;
}